<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Testing via XML file">
        <classes>
            <class name="com.saucedemo.FirstTest">
                <methods>
                    <include name="startTesting"/>
                    <include name="runTesting"/>
                    <include name="endTesting"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>